body{
    /*: aliceblue;*/
    margin: 0;
    min-width: 750px;
}

.toolBar{
    height: 50px;
    background:#111111;
    color: white;
    margin-bottom: 5%;
    font-family: Tahoma;
    font-size: 14px;

}

.toolbarContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.leaveGame {
    margin-right: 30px;
}

.leaveGame:hover {
    color: blueviolet;
    cursor: pointer;
}

.rowSquares {
    display: inline-block;
}

.rowDiv{
    display: table-row;
}

.cursor.img{
    content: url("../../common/images/marker.png");
}

.square:hover {
    background: antiquewhite;
    cursor: pointer;
}

.selectedSquare {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb !important;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb !important;
    box-shadow:inset 0px 1px 0px 0px #dcecfb !important;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bdddfa), color-stop(1, #80b5ea)) !important;
    background:-moz-linear-gradient(top, #bdddfa 5%, #80b5ea 100%) !important;
    background:-webkit-linear-gradient(top, #bdddfa 5%, #80b5ea 100%) !important;
    background:-o-linear-gradient(top, #bdddfa 5%, #80b5ea 100%) !important;
    background:-ms-linear-gradient(top, #bdddfa 5%, #80b5ea 100%) !important;
    background:linear-gradient(to bottom, #bdddfa 5%, #80b5ea 100%) !important;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0) !important;
    background-color:#bdddfa !important;
}

.mainDivBody {
    margin-top: 3.5%;
    margin-bottom: 5px;
    min-width: 1050px;
}

.turnDetails {
    margin-bottom: 10%;
}

/*.playersAndActions{*/
    /*margin-left: 1%;*/
    /*margin-right: 1%;*/
    /*!*margin-top:3.5%;*!*/
    /*margin-bottom: 1%;*/
    /*width: 320px;*/
    /*text-align: left;*/
    /*border-radius: 5px;*/
    /*font-size: 15px;*/
    /*font-family: "Century Gothic";*/
    /*float:left;*/
/*}*/

/*.players {*/
    /*margin-bottom: 2%;*/
    /*display: inline-block;*/
    /*height: 200px;*/
    /*!*float: right;*!*/
    /*text-align: left;*/
    /*background: black;*/
    /*!*opacity: 0.6;*!*/
    /*border-radius: 5px;*/

    /*!*box-shadow: 3px 6px 17px 1px;*!*/
    /*font-size: 15px;*/
    /*font-family: "Century Gothic";*/
    /*!*color: black;*!*/
    /*!*float:left;*!*/
    /*opacity: 0.5;*/
    /*color: white;*/

/*}*/

.playersAndActions{
    margin-left: 1%;
    margin-right: 1%;
    /*margin-top:3.5%;*/
    margin-bottom: 1%;
    width: 320px;
    text-align: left;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Century Gothic";
    /*color: black;*/
    float:left;
}

.players {
    margin-bottom: 2%;
    display: inline-block;
    height: 300px;
    /*float: right;*/
    text-align: left;
    background: #111111;
    /*opacity: 0.5;*/
    border-radius: 5px;
    /*box-shadow: 3px 6px 17px 1px;*/
    font-size: 15px;
    font-family: "Century Gothic";
    color: whitesmoke;
    /*float:left;*/
}

.resignedPlayers {
    margin-bottom: 2%;
    display: inline-block;
    height: 200px;
    text-align: left;
    background: black;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Century Gothic";
    opacity: 0.5;
    color: white;

}

.resignedPlayers > div {
    margin-top: 10px;
    margin-left: 10px;
}

/*.actions > div {*/
    /*height: 20px;*/
    /*font-size: 14px;*/
    /*font-family: "Century Gothic";*/
/*}*/

.action{
    height: 20px;
    font-size: 14px;
    text-align: center;
    /*box-shadow: 4px 0px 9px 1px;*/
    color: black;

    border: grey 1px solid;
    border-radius: 4px;
    background: aliceblue;
    box-shadow: inset 3px 3px 9px -2px rgba(0,0,0,0.75);
}

.action:hover {
    background: lightblue;
    cursor: pointer;
}

.boardBody {
    /*float:right;*/
    display: table;
}

.board {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    line-height: 0;
    margin-left: 40px;
    float: left;
    width: calc(100% - 400px);
}

/*.square{*/
    /*border: 1px black solid;*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*font-size: medium;*/
    /*vertical-align: middle;*/
    /*display: table-cell;*/
    /*text-align: center;*/
/*}*/

.square {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    /*border:1px solid #dcdcdc;*/
    border:1px solid black;
    /*display:inline-block;*/
    display: table-cell;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size: medium;
    font-weight:bold;
    /*padding:32px 32px;*/
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    text-align: center;
    width: 50px;
    height: 50px;
    vertical-align: middle;

}
.square:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}
.square:active {
    position:relative;
    top:0.5px;
}

.playerContainerDiv, .resignedplayerContainerDiv{
    position: relative;
}

.playersNames, .resignedPlayersNames{
    display: inline-block;
    border-radius: inherit;
    height: inherit;
    margin: 0px 5px 0px 10px;
    vertical-align: top;
    width: 80px;
    white-space: nowrap;
}

.playersTypes, .resignedPlayersTypes {
    display: inline-block;
    border-radius: inherit;
    height: inherit;
    width: 70px;
    vertical-align: top;
}

.playersColor, .resignedPlayersColor{
    display: inline-block;
    border-radius: inherit;
    height: inherit;
    margin: 0px 5px 0px 5px;
    width: 60px;
    vertical-align: top;
}

.playersScore, .resignedPlayersScore {
    display: inline-block;
    border-radius: inherit;
    height: inherit;
    margin: 0px 5px 0px 5px;
    width: 62px;
    vertical-align: top;
}

.playerDiv, .resignedPlayerDiv{
    text-overflow: ellipsis;
    overflow: hidden;
}

.PlayerTurn {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.dialogDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width:350px;
    height:350px;

    z-index: 1000;
    display: none;
    background: lightslategray;
    opacity: 0.85;

    -webkit-box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.75);

    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.85; }
}

.dialogContent {
    font-size: 14px;
    font-family: "Century Gothic";
    /*     verflow: auto; */
    margin: 25px;
    /*     white-space: nowrap; */

}

.dialogButtons {
    font-size: 14px;
    margin-top: 11px;
    position: absolute;
    bottom: 100px;
    left: 30px;
    width: 100px;
    color:black;
}

.close:hover {
    cursor: pointer;
}

.dialogButton{
    display: inline-block;
    margin-right: 8px;
    padding: 5px;
    border: grey 1px solid;
    border-radius: 4px;
    background: aliceblue;
    box-shadow: 3px 3px 9px -2px rgba(0,0,0,0.75);
}

.dialogButton:hover {
    cursor: pointer;
    background: gainsboro;
}

#chatButton{
    display: inline-block;
    margin-right: 8px;
    padding: 2px;
    border: grey 1px solid;
    border-radius: 4px;
    background: aliceblue;
    box-shadow: inset 3px 3px 9px -2px rgba(0,0,0,0.75);
    color: black;
}

.leaveGame {
    margin-left: 5px;
    display: inline-block;
    padding: 5px;
    border: grey 1px solid;
    border-radius: 4px;
    background: aliceblue;
    box-shadow: inset 3px 3px 9px -2px rgba(0,0,0,0.75);
    color: black;
}

#chatHeader {
    position: fixed;
    float: right;
    top: 20px;
    font-size: x-large;
    right: 200px;
}

#chatButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
}

#chatwindow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color:black;
}

#chatButton:hover {
    cursor: pointer;
}

.chat-container {
    float: right;
    font-family: "Century Gothic";
    margin: 10px;
}

@keyframes winnerAnimation {
    from {background: gray; width: 0px; height: 0px;}
    to { transform: rotate(1turn); background: #a55210; width: 600px; height: 600px; }
}

@keyframes fade {
    from {opacity: 0; background: green;}
    to {opacity: 1; bacground: brown;}
}

@keyframes openDialog {
    from
    {
        background: black;
        font-size: 0px;
    }
    to
    {
        background: antiquewhite;
        font-size: 14px;
    }
}

@keyframes openDialog {
    to { transform: rotate(1turn);}
}
