body{
    /*: aliceblue;*/
    margin: 0;
    min-width: 750px;
}

.toolBar{
    height: 50px;
    background: gainsboro;
    margin-bottom: 5%;
    font-family: Tahoma;
    font-size: 14px;

}

.toolbarContent {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.leaveGame {
    margin-right: 30px;
}

.leaveGame:hover {
    color: blueviolet;
    cursor: pointer;
}

/*.logoSpan {*/
    /*position: absolute;*/
    /*right: 0;*/
/*}*/

/*.rowBlocks {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*vertical-align: top;*/
    /*top: 15px;*/
/*}*/

/*.colBlocks {*/
    /*display: inline-block;*/
    /*margin-bottom: 5px;*/
/*}*/

/*.rowBlock {*/
    /*display: block;*/
    /*height: 30px;*/
    /*text-align: center;*/
/*}*/

/*.colBlock{*/
    /*display: inline-block;*/
    /*width: 30px;*/
    /*text-align: center;*/
    /*border: 1px solid transparent;*/
/*}*/

.rowSquares {
    display: inline-block;
}

.rowDiv{
    display: table-row;
}

.square:hover {
    background: antiquewhite;
    cursor: pointer;
}

.selectedSquare {
    background-color: red;
}

.prevNexDiv {
    float: left;
    width: 100%;
    visibility: hidden;
}

div.prevNexDiv > div:nth-child(1) {
    width: 50%;
}

.mainDivBody {
    margin-top: 3.5%;
    margin-bottom: 5px;
    min-width: 1050px;
}

.turnDetails {
    margin-bottom: 10%;
}

.playersAndActions{
    margin-left: 1%;
    margin-right: 1%;
    /*margin-top:3.5%;*/
    margin-bottom: 1%;
    width: 320px;
    text-align: left;
    border-radius: 5px;
    font-size: 15px;
    font-family: "Century Gothic";
    color: black;
    float:left;
}

.players {
    margin-bottom: 2%;
    display: inline-block;
    height: 300px;
    /*float: right;*/
    text-align: left;
    background: lightslategray;
    /*opacity: 0.6;*/
    border-radius: 5px;
    /*box-shadow: 3px 6px 17px 1px;*/
    font-size: 15px;
    font-family: "Century Gothic";
    color: black;
    /*float:left;*/
}

.actions > div {
    height: 20px;
    font-size: 14px;
    font-family: "Century Gothic";
}

.action{
    border: 1px solid black;
    border-radius: 8px;
    background: lightslategray;
    text-align: center;
    /*box-shadow: 4px 0px 9px 1px;*/
    color: black;
}

.action:hover {
    background: aliceblue;
    cursor: pointer;
}

.boardBody {
    float:right;
    display: table;
}

.board {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    line-height: 0;
    margin-left: 40px;
}

.square{
    border: 1px black solid;
    width: 50px;
    height: 50px;
    font-size: medium;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.playerContainerDiv {
    position: relative;
}

.playersNames {
    display: inline-block;
    border-radius: inherit;
    height: inherit;
    margin: 0px 5px 0px 10px;
    vertical-align: top;
    width: 80px;
    white-space: nowrap;
}

.playersTypes {
    display: inline-block;
    border-radius: inherit;
    height: inherit;
    width: 70px;
    vertical-align: top;
}

.playersColor {
    display: inline-block;
    border-radius: inherit;
    height: inherit;
    margin: 0px 5px 0px 5px;
    width: 60px;
    vertical-align: top;
}

.playersScore {
    display: inline-block;
    border-radius: inherit;
    height: inherit;
    margin: 0px 5px 0px 5px;
    width: 62px;
    vertical-align: top;
}

.playerDiv{
    text-overflow: ellipsis;
    overflow: hidden;
}

.PlayerTurn {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

/*.currentPlayerName{*/
    /*display: inline-block;*/
/*}*/

/*.close {*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    /*cursor: pointer;*/
/*}*/

.dialogDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    max-width: 800px;
    max-height: 800px;
    z-index: 1000;
    display: none;
    background: lightslategray;
    opacity: 0.85;

    -webkit-box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 30px -8px rgba(0,0,0,0.75);

    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 0.85; }
}

.dialogContent {
    font-size: 0;
    overflow: auto;
    margin: 25px;
    white-space: nowrap;
    max-width: 780px;
    max-height: 600px;
}

.dialogButton{
    display: inline-block;
    margin-right: 8px;
    padding: 5px;
    border: grey 1px solid;
    border-radius: 4px;
    background: aliceblue;
    box-shadow: 3px 3px 9px -2px rgba(0,0,0,0.75);
}

/*.image {*/
    /*height: 50px;*/
    /*width: 100px;*/
    /*margin-right: 30px;*/
    /*margin-top: -15px;*/
/*}*/



@keyframes winnerAnimation {
    from {background: gray; width: 0px; height: 0px;}
    to { transform: rotate(1turn); background: #a55210; width: 600px; height: 600px; }
}

@keyframes fade {
    from {opacity: 0; background: green;}
    to {opacity: 1; bacground: brown;}
}

@keyframes openDialog {
    from
    {
        background: black;
        font-size: 0px;
    }
    to
    {
        background: antiquewhite;
        font-size: 14px;
    }
}

@keyframes openDialog {
    to { transform: rotate(1turn);}
}
